* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: #070606;
}
